<div class="footerMenuColumn">
    <a href="/about-wsc" class="footerMenuSectionName allUpperCase">About WSC</a>
    <ul id="footer-nav-about-wsc" class="clearFix footerNav">
        {exp:structure:nav start_from="/about-wsc" max_depth="1" add_unique_id="no" include_ul="no" exclude="7090"}
        <li><a href="/about-wsc/contact-us/wscal.edu-privacy-statement">Privacy Statement</a></li>
    </ul>
</div>

<div class="footerMenuColumn">
    <a href="/academics" class="footerMenuSectionName allUpperCase">Academics</a>
    <ul id="footer-nav-academics" class="clearFix footerNav">
        {exp:structure:nav start_from="/academics" max_depth="1" add_unique_id="no" include_ul="no"}
        <li><a href="/media/docs/2019_Educational_Effectiveness_Statement.pdf" rel="external">Statement of Educational Effectiveness</a></li>
        <li><a href="/media/docs/WSCStudentLearningOutcomes.pdf" rel="external">Student Learning Outcomes</a></li>
    </ul>
</div>

<div class="footerMenuColumn">
    <a href="/admissions" class="footerMenuSectionName allUpperCase">Admissions</a>
    <ul class="clearFix footerNav">
        {exp:structure:nav start_from="/admissions" max_depth="1" add_unique_id="no" include_ul="no"}
    </ul>
</div>

<div class="footerMenuColumn">
    <a href="/blog" class="footerMenuSectionName allUpperCase">Blog</a>

    <a href="/resources/news-and-events" class="footerMenuSectionName allUpperCase">News &amp; Events</a>
    <ul id="footer-nav-news-and-events" class="clearFix footerNav">
        {exp:structure:nav start_from="/resources/news-and-events" max_depth="1" add_unique_id="no" include_ul="no"}
    </ul>
</div>

<div class="footerMenuColumn">
    <a href="/resources" class="footerMenuSectionName allUpperCase">Resources</a>
    <ul id="footer-nav-resources" class="clearFix footerNav">
        {exp:structure:nav start_from="/resources" max_depth="1" add_unique_id="no" include_ul="no"}
        <li><a href="/resource-center/category/morning-devotions">Morning Devotions</a></li>
        <li><a href="/resource-center/face-to-face">Face-to-Face</a></li>
        <li><a href="/resource-center/office-hours">Office Hours</a></li>
    </ul>
</div>
