<ul class="mainMenu clearFix">
    <li class="first" id="mainMenu-about-wsc"><a href="/about-wsc">About WSC</a>
        <div class="clearFix megaMenu mainMenu-about-wsc">
            <div class="clearFix megaMenuInner">
                <div>
                    <ul class="menu clearFix">
                    	<li><a href="/about-wsc/covid-19-and-wsc">COVID-19 and WSC</a></li>
                        <li><a href="/about-wsc/history">History</a></li>
                        <li><a href="/about-wsc/mission">Mission</a></li>
                        <li><a href="/about-wsc/accreditation">Accreditation</a></li>
                        <li class="last"><a href="/about-wsc/doctrinal-standards">Doctrinal Standards</a></li>
                    </ul>
                    <ul class="menu clearFix">
                        <li class=" overview last"><a href="/about-wsc/wsc-distinctives">WSC Distinctives</a></li>
                    </ul>
                </div>
                <div>
                    {exp:structure:nav start_from="/about-wsc/location" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/about-wsc/employment" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/about-wsc/contact-us" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-admissions"><a href="/admissions">Admissions</a>
        <div class="clearFix megaMenu mainMenu-admissions">
            <div class="clearFix megaMenuInner">
                <div>
                    <ul class="menu clearFix">
                        <li><a href="/admissions/why-westminster-california">Why Westminster California</a></li>
                        <li><a href="/admissions/meet-a-student-graduate">Meet a Student/Graduate</a></li>
                        <li class="overview"><a href="/admissions/visit-wsc">Visit WSC</a></li>
                        <li><a href="/admissions/quick-facts-and-faqs">Quick Facts &amp; FAQs</a></li>
                        <li><a href="/admissions/women-at-westminster">Women at WSC</a></li>
                        <!--li class="last"><a href="/admissions/viewbook">Viewbook</a></li-->
                    </ul>
                    {exp:structure:nav start_from="/admissions/apply" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
                <div>
                    {exp:structure:nav start_from="/admissions/financial-aid" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
                <div>
                    {exp:structure:nav start_from="/admissions/preparing-for-seminary" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/admissions/contact-admissions" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-academics"><a href="/academics">Academics</a>
        <div class="clearFix megaMenu mainMenu-academics">
            <div class="clearFix megaMenuInner">
                <div>
                    {exp:structure:nav start_from="/academics/degrees-and-programs" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    <ul class="menu clearFix">
                        <li class="overview"><a href="/academics/audit-opportunities">Audit Opportunities</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="menu clearFix">
                        <li class="overview"><a href="/academics/faculty">Faculty</a></li>
                        <li><a href="/news-and-events/faculty-speaking-calendar">Faculty Speaking Calendar</a></li>
                    </ul>
                    {exp:structure:nav start_from="/academics/current-students" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/academics/wsc-catalogue" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/academics/academic-calendars" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-community"><a href="/community">Community</a>
        <div class="clearFix megaMenu mainMenu-community">
            <div class="clearFix megaMenuInner">
                <div class="clearFix">
                    {exp:structure:nav start_from="/community" max_depth="2" add_unique_id="no" css_class="menu clearFix" css_id="none"}
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-resources"><a href="/resources">Resources</a>
        <div class="clearFix megaMenu mainMenu-resources">
            <div class="clearFix megaMenuInner">
                <div>
                    <!--ul class="menu clearFix">
                        <li class=" overview"><a href="http://wscal.edu/resources/wsc-library">Library</a></li>
                        <li><a href="https://wscal.worldcat.org/advancedsearch" rel="external">Library Catalog</a></li>
                        <li><a href="http://wscal.edu/resources/wsc-library/about-the-library">About the Library</a></li>
                        <li><a href="http://wscal.edu/resources/wsc-library/search-tools">Article Databases</a></li>
                        <li><a href="http://wscal.edu/resources/wsc-library/services">Policies</a></li>
                        <li class="last"><a href="http://wscal.edu/resources/wsc-library/periodicals">Library Periodical Holdings</a></li>
                    </ul-->
                    {exp:structure:nav start_from="/resources/wsc-library" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/resources/wsc-bookstore" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    <ul class="menu clearFix">
                        <li class="overview"><a href="https://subsplash.com/wscal/app" rel="external">WSC Mobile App</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="menu clearFix">
                        <li class="first overview"><a href="/resource-center">Resource Center</a></li>
                        <li class="{if segment_1 == 'blog'} here{/if}"><a href="/blog">Blog</a></li>
                        <li class="{if segment_2 == 'office-hours'} here{/if}"><a href="/resource-center/category/office-hours">Office Hours Podcast</a></li>
                        <li class="{if segment_3 == 'morning-devotions'} here{/if}"><a href="/resource-center/category/morning-devotions">Morning Devotions</a></li>
                        <li class="{if segment_3 == 'lectures'} here{/if}"><a href="/resource-center/category/lectures">Lectures</a></li>
                        <li class="{if segment_3 == 'articles'} here{/if}"><a href="/resource-center/category/articles">Articles</a></li>
                        <li class="{if segment_2 == 'videos'} parent-here{/if}"><a href="/resource-center/videos">Videos</a></li>
                        <li class="{if segment_3 == 'westminster-answers'} here{/if}"><a href="/resource-center/category/westminster-answers">&nbsp;&nbsp;&nbsp; Westminster Answers</a></li>
                        <li class="{if segment_3 == 'a-students-perspective'} here{/if}"><a href="/resource-center/category/a-students-perspective">&nbsp;&nbsp;&nbsp; A Student's Perspective</a></li>
                        <li class="{if segment_3 == 'meet-the-faculty'} here{/if}"><a href="/resource-center/category/meet-the-faculty">&nbsp;&nbsp;&nbsp; Meet the Faculty</a></li>
                        <!--li class="{if segment_3 == 'a-pastors-reflections'} here{/if}"><a href="/resource-center/category/a-pastors-reflections">&nbsp;&nbsp;&nbsp; A Pastor's Reflections</a></li-->
						<li class="{if segment_3 == '5-solas'} here{/if}"><a href="/resource-center/category/5-solas">&nbsp;&nbsp;&nbsp; 5 Solas</a></li>
                        <li class="{if segment_3 == '5-solas'} here{/if}"><a href="/resource-center/category/wsc_conferences">WSC Conferences</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-news-and-events"><a href="/news-and-events">News &amp; Events</a>
        <div class="clearFix megaMenu mainMenu-news-and-events">
            <div class="clearFix megaMenuInner">
                <div>
                    {exp:structure:nav start_from="/news-and-events/news" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/news-and-events/faculty-speaking-calendar" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/news-and-events/monthly-enewsletter" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                    {exp:structure:nav start_from="/news-and-events/lectures-on-missions" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
                <div>
                	<ul class="menu clearFix">
                        <li class="first overview last"><a href="/news-and-events/update-magazine">Update Magazine</a></li>
                    </ul>
                    <ul class="menu clearFix">
                        <li class="first overview last"><a href="/news-and-events/den-dulk-lectures">Den Dulk-Lectures</a></li>
                    </ul>
                    {exp:structure:nav start_from="/news-and-events/annual-conference" max_depth="1" add_unique_id="no" css_class="menu clearFix" css_id="none" show_overview="yes" rename_overview="title"}
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-alumni"><a href="/alumni">Alumni</a>
        <div class="clearFix megaMenu mainMenu-alumni">
            <div class="clearFix megaMenuInner">
                <div>
                    {exp:structure:nav start_from="/alumni" max_depth="2" add_unique_id="no" css_class="menu clearFix" css_id="none"}
                </div>
            </div>
        </div>
    </li>
    <li id="mainMenu-support"><a href="/donate">Donate</a>
        <div class="clearFix megaMenu mainMenu-support">
            <div class="clearFix megaMenuInner">
                <div>
                    {exp:structure:nav start_from="/donate" max_depth="2" add_unique_id="no" css_class="menu clearFix" css_id="none"}
                </div>
            </div>
        </div>
    </li>
</ul>
