{exp:channel:entries channel="landing" disable="member_data|pagination" limit="1" dynamic="no" entry_id="{embed:entry_id}"}

    {if landing_body_copy != ""}
        <section class="pageSectionBandWhite">
            <div class="clearFix constrainedContent">

                <h2 class="landingBodyCopyTitle">A Welcome from President Kim</h2>
                <div class="landingBodyCopyRight">
                    {embed="includes/.template-image" entry_id="8526"}
                </div>
                <div class="landingBodyCopyLeft">
                    {landing_body_copy}
                </div>

            </div>
        </section>
    {/if}

    <section class="pageSectionBandTan">
        <div class="constrainedContent clearFix">

            {if landing_tiles_section_title != ""}
                <h2 class="pageSectionTitle"><span>{landing_tiles_section_title}</span></h2>
            {/if}

            {if landing_tiles_section_copy != ""}
                <div class="landingTilesSectionCopy">{landing_tiles_section_copy}</div>
            {/if}

            <div class="clearFix tilesWrapperFourWide equalHeightChildren aboutAtAGlanceTiles">
                {landing_tiles}
                    <div class="tile equalHeightChild">
                        <div>
                            {if landing_tiles:image != ""}
                                <div class="tileImage">
                                    {exp:imgsizer:size src="{landing_tiles:image}" alt="{landing_tiles:title}" height="130"}
                                </div>
                            {/if}
                            {if landing_tiles:title != ""}
                                <div class="tileTitle">{landing_tiles:title}</div>
                            {/if}
                            {if landing_tiles:tile_text != ""}
                                <div class="tileText">{landing_tiles:tile_text}</div>
                            {/if}
                            {if landing_tiles:button_url != ""}
                                <a href="{landing_tiles:button_url}" class="flatBlueButton">{landing_tiles:button_text}</a>
                            {/if}
                        </div>
                    </div>
                {/landing_tiles}
            </div>

        </div>
    </section>

{/exp:channel:entries}

{embed="includes/.call-to-action-band" entry_id="8569"}

