<div class="facultyBooksWidget">
    <div class="dottedHeader">
        FACULTY BOOKS<a href="/resources/wsc-bookstore/faculty-books">+ VIEW ALL FACULTY BOOKS</a>
    </div>

    <div class="bookTiles clearFix">
        {exp:channel:entries channel="products_books" dynamic="no" disable="member_data|pagination" limit="4" search:product_book_is_featured="=secondary"}
            <div class="bookTile clearFix">
                <span class="bookTileImage">
                    <a href="/resources/wsc-bookstore/details/{url_title}" title="{product_book_title}">
                        {if '{product_book_image}' != ''}
                            {exp:imgsizer:size src="{product_book_image}" class="productBookImage" alt="{title}" height="160"}
                        {if:else}
                            {exp:imgsizer:size src="/assets/graphics/missing-cover.gif" class="productBookImage" alt="{title}" height="160"}
                        {/if}
                    </a>
                </span>
                <div class="bookTileDescription">
                    <a href="/resources/wsc-bookstore/details/{url_title}" class="sansSerif">{product_book_title}</a><br>
                    <em>{categories backspace="2"}{category_name}, {/categories}</em>
                </div>
            </div>
        {/exp:channel:entries}
    </div>
</div>
