{exp:channel:entries
                channel="news-and-events" 
                dynamic="no" 
                limit="10" 
                {if embed:year} year="{embed:year}" {/if}
                {if embed:year && embed:month} month="{embed:month}" {/if}
                {if embed:year} show_expired="yes" {/if}
                paginate_base="{if segment_3 ~ "/^P\d+/"}/{segment_1}/{segment_2}{if:else}/{segment_1}/{segment_2}{if segment_3}/{segment_3}{/if}{if segment_4}/{segment_4}{/if}{/if}" 
                category="{embed:cat}" 
                {if embed:cat == '1170'}
                    orderby="entry_date" 
                {if:elseif embed:cat == '1166'}
                    orderby="news_event_start_date" 
                {/if}
                sort="desc" 
                }

    <div class="clearFix newsListing ">

        <div class="newsListingLeftColumn">
            <div class="newsListingPhoto">
                {if news_event_item_image != ''}
                    {exp:imgsizer:size src="{news_event_item_image}" alt="{title}" width="400" height="260"}
                {if:else}
                    {exp:imgsizer:size src="/assets/graphics/missing-image.jpg" alt="{title}" width="400" height="260"}
                {/if}
            </div>
        </div>

        <div class="newsListingRightColumn">
            <div class="newsListingTitle">
                <h3><a href="{title_permalink='news-and-events/{segment_2}'}" class="newsListingTitle">{title}</a></h3>
                {if news_event_start_date != ""}
                    <div class="newsDate">
                        {news_event_start_date format="%F %j, %Y"}{if news_event_end_date != ""} &ndash; {news_event_end_date format="%F %j, %Y"}{/if}
                    </div>
                {/if}
            </div>
            <div class="newsListingSummary">
                {if news_event_item_summary != ""}{news_event_item_summary}{if:else}{exp:word_limit:limit_words total="50"}{news_event_item_copy}{/exp:word_limit:limit_words}{/if}
            </div>
            <div><a href="{title_permalink='news-and-events/{segment_2}'}" class="moreLink">Read More</a></div>
        </div>

    </div>

    {paginate}
        <section class="paginationLinks clearFix">
            {pagination_links}
                {previous_page}
                    <a href="{pagination_url}" class="page-previous">prev</a>
                {/previous_page}
                {page}
                    <a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}" title="page number {pagination_page_number}">{pagination_page_number}</a>
                {/page}
                {next_page}
                    <a href="{pagination_url}" class="page-next">next</a>
                {/next_page}
            {/pagination_links}
        </section>
    {/paginate}

{/exp:channel:entries}
