.textBlue1{
    color: #004e77;
}
.textBlue3{
    color: #89c1ff;
}
.textBlue4{
    color: #619bdc;
}
.textBlue5{
    color: #356ba6;
}
.textBlueOrig{
    color: #005581;
}
.textBrown{
    color: #5d5a57;
}
.textDarkBrown{
    color: #524f4b;
}
.textDarkerBrown{
    color: #444444;
}
.textDarkerTan{
    color: #737271;
}
.textLighterTan{
    color: #e3e3d2;
}
.textLightTan{
    color: #dcdbcb;
}
.textLinkBlue{
    color: #0098e6;
}
.textMenuBlue{
    color: #5db7e6;
}
.textOrange{
    color: #f5901a;
}

