{exp:freeform:form form_id="22"
        return="/forms/submission-thank-you"
        form:id="feedback"
        required="name|email|captcha"
        require_captcha="yes"}

    <fieldset id="contactInfoFieldset">
        <legend>Feedback/Questions</legend>
        <div>
            <span class="requiredField">*</span>Required Fields
        </div><br>
        <div class="formRow">

            <div class="formFieldInput">
                <div class="formFieldTitle">
                    <span class="requiredField">*</span> <label for="name">Name</label>
                </div>
                <div>
                    <input type="text" id="name" name="name" value="" size="35"/>
                </div>
            </div>

            <div class="formFieldInput">
                <div class="formFieldTitle">
                    <span class="requiredField">*</span> <label for="email">Email</label>
                </div>
                <div>
                    <input type="text" id="email" name="email" value="" size="35"/>
                </div>
            </div>

        </div>

        <div class="formRow">
            <div class="formFieldInput">
                <div class="formFieldTitle">
                    Are you a prospective student?
                    <div class="myRadio">
                        <input type="radio" name="prospective_student" value="Yes" id="prospective_student-yes" class="radio"/> Yes
                        <input type="radio" name="prospective_student" value="No" id="prospective_student-no" class="radio"/> No
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset id="messageFieldset">

        <div class="formField formComments" colspan="2">
            <label for="feedback_comments">Please submit your Q&amp;A Panel questions or conference feedback here.</label><br/>
            <textarea class="textarea" id="feedback_comments" name="feedback_comments" rows="6" cols="80"></textarea>
        </div>

        {if freeform:captcha}
            <div class="formRow">
                <div class="formField formComments">
                    <div class="formFieldTitle">
                        <label for="captcha">Please enter the security code.</label>
                    </div>
                    <div class="formFieldInput">
                        <span style="margin-top: 5px;padding: 5px 5px;display: inline-block;">{freeform:captcha}</span><br>
                        <input type="text" id="captcha" name="captcha" required="required" size="40">
                    </div>
                </div>
            </div>
        {/if}

        <div class="formRow">
            <div>
                <input type="submit" value="Submit" name="submit" id="submit" class="formButton"/>
            </div>
        </div>
    </fieldset>
{/exp:freeform:form}
