<div>
    <span class="requiredField">*</span>Required Fields
</div>

{exp:freeform:form form_id="18" return="/forms/submission-thank-you" form:id="admissions_information_request_form" required="first_name|last_name|email|phone|address|city|zip_code|state|country|anticipated_start|church_affiliation" require_captcha="yes"}

<fieldset id="yourInfo">
    <legend>Your Information</legend>
    <div class="formRow">
        <div class="formFieldInput selectBox">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> Salutation
            </div>
            <div class="select-style">
                <select name="salutation" id="salutation">
                    <option></option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Miss">Miss</option>
                    <option value="Rev.">Rev.</option>
                    <option value="Dr.">Dr.</option>
                </select>
            </div>
        </div>

        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="first_name">First Name</label>
            </div>
            <div>
                <input type="text" id="first_name" name="first_name" value="" size="35"/>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="last_name">Last Name</label>
            </div>
            <div>
                <input type="text" id="last_name" name="last_name" value="" size="35"/>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="email">Email</label>
            </div>
            <div>
                <input type="text" id="email" name="email" value="" size="35"/>
            </div>
        </div>

        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="phone">Phone Number</label>
            </div>
            <div>
                <input id="phone" type="text" size="35" name="phone" value=""/>
            </div>
        </div>
    </div>
    
    <div class="formRow">
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="address">Address</label>
            </div>
            <div>
                <input type="text" id="address" name="address" value="" size="35"/>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <label for="address_2">Address 2</label>
            </div>
            <div>
                <input type="text" id="address_2" name="address_2" value="" size="35"/>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="city">City</label>
            </div>
            <div>
                <input type="text" id="city" name="city" value="" size="30"/>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> <label for="zip_code">Zip Code</label>
            </div>
            <div>
                <input type="text" name="zip_code" id="zip_code" value="" size="30"/>
            </div>
        </div>
    </div>

    <div class="formRow">
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> US States
            </div>
            <div class="select-style">
                {embed="forms/.state-dropdown"}
                <label for="state" class="error" style="display:none;">Please choose one.</label>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> Country
            </div>
            <div class="select-style">
                {embed="forms/.country-dropdown"}

                <label for="country" class="error" style="display:none;">Please choose one.</label>
            </div>
        </div>
    </div>
    
    <div class="formVisit clearFix">
        <div class="clearFix">
            <div class="formRow clearFix">
                <div class="sfadLeft clearFix">
                    <h3><span class="requiredField">*</span> Seminary for a Day</h3>
                    <label class="formButton">
                        September 17th, 2021
                        <input type="radio" name="seminary_for_a_day_date" value="September 17th, 2021" class="myRadio2">
                    </label>
                    <label class="formButton">
                        October 29th, 2021
                        <input type="radio" name="seminary_for_a_day_date" value="October 29th, 2021" class="myRadio2">
                    </label>
					<label class="formButton">
                        January 14th, 2022
                        <input type="radio" name="seminary_for_a_day_date" value="January 14th, 2022" class="myRadio2">
                    </label>
                    <label class="formButton">
                        March 11th, 2022
                        <input type="radio" name="seminary_for_a_day_date" value="March 11th, 2022" class="myRadio2">
                    </label>
                </div>
                <div class="visitOr">OR</div>
                <div class="sfadRight clearFix">
                    <div class="visitDatepicker formFieldInput">
                        <div>
                            <label><h3><span class="requiredField">*</span>Personal Visit</h3></label>
                        </div>
                        <div>
                            <input id="datepicker" type="text" name="personal_visit_date" placeholder="&#x025BC;"/>
                            <p class="personalVisitTxt">(Classes meet Tuesday-Friday<br>
                                Chapel is on Tuesday and Thursday )
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="formRow clearFix">
            <div class="formFieldInput">
                <div class="formFieldTitle">
                    <span class="requiredField">*</span><label for="number_of_people_attending">Number of people attending (including yourself)</label>
                </div>
                <div>
                    <input type="text" id="number_of_people_attending" name="number_of_people_attending" value="" size="35"/>
                </div>
            </div>
            <div class="formFieldInput accomInput">
                <div class="formFieldTitle">
                    <span class="requiredField">*</span> <label for="need_accommodations">Will you need overnight accommodations?</label>
                </div>
                <div>
                    <input type="text" id="need_accommodations" name="need_accommodations" value="" size="30"/>
                </div>
            </div>
            <div class="formFieldInput">
                <div class="formFieldTitle">
                    <span class="requiredField">*</span> <label for="need_transportation">Will you need transportation?</label>
                </div>
                <div>
                    <input type="text" id="need_transportation" name="need_transportation" value="" size="30"/>
                </div>
            </div>
        </div>
    </div>
    <div class="formRow programInterest clearFix">
        <div class="formFieldTitle">Program of Interest</div>
        <label class="formButton">
            Master of Divinity
            <input type="radio" name="degree_program_of_interest" value="Master of Divinity" class="myRadio2">
        </label>
        <label class="formButton">
            M.A. Biblical Studies
            <input type="radio" name="degree_program_of_interest" value="M.A. Biblical Studies" class="myRadio2">
        </label>
        <label class="formButton">
            M.A. Theological Studies
            <input type="radio" name="degree_program_of_interest" value="M.A. Theological Studies" class="myRadio2">
        </label>
        <label class="formButton">
            M.A. Historical Theology
            <input type="radio" name="degree_program_of_interest" value="M.A. Historical Theology" class="myRadio2">
        </label>
        <div class="anticipated_start formFieldInput ">
            <strong class="requiredField">*</strong> Anticipated Starting term for Classes

            <div class="select-style">
                <select name="anticipated_starting_term" id="anticipated_starting_term">
                    <option value=""></option>
                  <option value="Summer/Fall 2021">Summer/Fall 2021</option>
                  <option value="Winter/Spring 2022">Winter/Spring 2022</option>
                  <option value="Summer/Fall 2022">Summer/Fall 2022</option>
                  <option value="Winter/Spring 2023">Winter/Spring 2023</option>
                  <option value="Summer/Fall 2023">Summer/Fall 2023</option>
                </select>
                <label for="anticipated_starting_term" class="error" style="display:none;">Please choose one.</label>
            </div>
        </div>
    </div>
    <div class="formRow clearFix">
        <div class="formFieldInput">
            <div class="formFieldTitle">
                <span class="requiredField">*</span> How did you hear about us?
            </div>
            <div class="select-style">
                <select name="how_heard_about" id="how_heard_about">
                    <option value=""></option>
                    <option value="Church/Denomination">Church/Denomination</option>
                    <option value="Individual Friend Referral">Individual Friend Referral</option>
                    <option value="Print Advertisement">Print Advertisement</option>
                    <option value="White Horse Media">White Horse Media</option>
                    <option value="WSC Alum">WSC Alum</option>
                    <option value="WSC Event">WSC Event</option>
                    <option value="WSC Publication">WSC Publication</option>
                    <option value="WSC Staff/Faculty Referral">WSC Staff/Faculty Referral</option>
                    <option value="WSC Student Referral">WSC Student Referral</option>
                    <option value="WSC Website">WSC Website</option>
                    <option value="Internet Search">Internet Search</option>
                </select>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                If other, please specify here.
            </div>
            <div>
                <input type="text" name="how_heard_about_other" value="" size="30"/>
            </div>
        </div>
        <div class="formFieldInput">
            <div class="formFieldTitle">
                What is your denomination/church affiliation?
            </div>
            <div>
                <input type="text" name="denomination" value="" size="30"/>
            </div>
        </div>
    </div>
    <div class="formField formComments">
        <label for="additional_comments">Questions or comments?</label><br/>
        <textarea class="textarea" id="additional_comments" name="additional_comments" rows="6" cols="80"></textarea>
    </div>

    {if freeform:captcha}
    <div class="formRow">
        <div class="formField formComments">
            <div class="formFieldTitle">
                <label for="captcha">Please enter the security code.</label>
            </div>
            <div class="formFieldInput">
                <span style="margin-top: 5px;padding: 5px 5px;display: inline-block;">{freeform:captcha}</span><br><input type="text" id="captcha" name="captcha" required="required" size="40">
            </div>
        </div>
    </div>
    {/if}

    <div class="formRow" colspan="2">
        {exp:channel:entries channel="page-blocks" dynamic="no" disable="member_data|pagination" entry_id="8057"}{page_block_content}{/exp:channel:entries}
    </div>

    <div>
        <input type="submit" value="Submit" name="submit" id="submit" class="formButton"/>
    </div>
</fieldset>
{/exp:freeform:form}
